.div-square {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    /* border-style: solid;*/
    /*border-color: 1px solid black;*/
    background-color: white;
    flex: 0 0 calc(100% / var(--grid-size));
    margin: none;
    border-radius: 3px;

}

body {
    background-color: white;
}

#container {
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*border-style: solid;*/
    /*border-color: 1px solid black;*/
    background-color: black;
    border: 40px solid red;
    border-radius: 10px;
    margin-top: 20px;
  box-shadow: 5px 10px #888888;
}

#buttons {
    display: flex; 
    flex-direction: row;
}

button {
    width: 20%;
    height: 40px;
    text-align: center;
    margin: 3px auto;
    padding: 5px;
}

/* #device-bg {
    padding: 30px;
    background-color: red;
    margin-top: 20px;

} */