.div-border {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    /* border-style: solid;*/
    /*border-color: 1px solid black;*/
    background-color: white;
    flex: 0 0 calc(100% / var(--grid-size));
    margin: none;


}

body {
    background-color: aqua;
}

#container {
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*border-style: solid;*/
    /*border-color: 1px solid black;*/
    background-color: black;
}